/* gray color */
.text-gray-100 {
    color: #f7fafc!important
  }
  .text-gray-200 {
    color: #edf2f7!important
  }
  .text-gray-300 {
    color: #e2e8f0 !important
  }
  .text-gray-400 {
    color: #cbd5e0!important
  }
  .text-gray-500 {
    color: #a0aec0!important
  }
  .text-gray-600 {
    color: #718096!important
  }
  .text-gray-700 {
    color: #4a5568!important
  }
  .text-gray-800 {
    color: #2d3748!important
  }
  .text-gray-900 {
    color: #1a202c!important
  }
  .bg-gray-100 {
    background-color: #f7fafc!important
  }
  .bg-gray-200 {
    background-color: #edf2f7!important
  }
  .bg-gray-300 {
    background-color: #e2e8f0!important
  }
  .bg-gray-400 {
    background-color: #cbd5e0!important
  }
  .bg-gray-500 {
    background-color: #a0aec0!important
  }
  .bg-gray-600 {
    background-color: #718096!important
  }
  .bg-gray-700 {
    background-color: #4a5568!important
  }
  .bg-gray-800 {
    background-color: #2d3748!important
  }
  .bg-gray-900 {
    background-color: #1a202c!important
  }

  a:hover{
    color: inherit!important
  }
  