@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
.profile-img {
  position: relative;
  border: 3px solid #89c33f;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.sidebar-item-active {
  background-color: #89c33f;
  color: #fff;
}
.sidebar-item-active > a > i {
  color: #fff !important;
}

.sidebar-item-active > a > p {
  color: #fff !important;
}

.sidebar-item {
  transition: all 0.3s ease;
}

.sidebar-item:hover {
  background-color: #d9f3b7;
}
.container-custom {
  max-width: 1550px;
  margin: 0 auto;
}

.fw-500 {
  font-weight: 500;
}
.fs-14{
  font-size: 14px;
}
.fs-12{
  font-size: 12px;
}

.text-white-on-hover > li > a:hover {
  color: #fff !important;
  box-shadow: 0px 8px 11px -4px rgba(45, 54, 67, 0.04),
    0px 20px 24px -4px rgba(45, 54, 67, 0.04);
}
