.tabholder .nav .nav-link {
  border-bottom: 3px solid #cfd4da;
  border-radius: 0px;
  color: #808080;
  font-weight: 400;
}

.tabholder .nav .nav-link.active {
  border-radius: 0px;
  background-color: transparent !important;
  border-bottom: 3px solid #89c33f;
  color: #89c33f;
}
