.window {
  background: #fff;
  width: 400px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.window:hover {
  z-index: 3000;
}
.btn-window {
  padding: 5px 10px;
}
